//- VARIABLES
-var links = [{name:'HOME', url:'index.html'},{name:'SERVICES', url:'#services'},{name:'ABOUT', url:'#studiobg'},{name:'PORTFOLIO', url:'#'},{name:'TEAM', url:'#team'},{name:'TESTIMONIAL', url:'#'},{name:'PRICING', url:'#pricing'},{name:'CONTACT', url:'#contact'}]
-var linkslist = [{name:'Our Company Mission'},{name:'Company Philosophy'},{name:'Our Company Mission'}]
-var plorem= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sunt, provident eos, odio debitis consequuntur dolor vitae, facere cupiditate et aliquid eligendi."
-var largelorem= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa et, nisi reprehenderit, quasi ratione iure impedit earum labore perspiciatis accusantium esse voluptatem vitae! Itaque alias culpa a inventore tempore assumenda veniam, excepturi amet velit deserunt! Sint hic culpa voluptates quos dolor veniam libero fugit adipisci, nemo eum quisquam incidunt voluptate!"
-var description= "Sed metus eros, eleifend non porta et, gravida et augue. Phasellus non sapien metus. Morbi malesuada fringilla interdum. Nam vel facilisis."