//- FOOTER
footer#footer
	.container
		.row.text-center
			.col-sm-2.text-left
				+jpg("w-logo")
			.col-sm-8
				p COPYRIGHT C 2016. WILY LAB LIMITED
				p DESIGNED AND DEVELOPED BY 
					a(href="#") WILYLAB
			.col-sm-2
				.social-media
					a(href="#").social_facebook
					a(href="#").social_twitter
					a(href="#").social_googleplus
					a(href="#").social_pinterest
