//- HEADER
header
	#header
		nav#mainNav.navbar.navbar-fixed-top(role="navigation")
			.container
				+navbar-fixed-top(logolink, links)
		.text-center
			h1 Stand Out From The Crows
			p.sub For photographer and freelancer who want to exclusively showcase their products.