//- OFFERS
section#pricing
	.container
		+titsection("Our Best Offers")
		.row.text-center
			+pricing("$50", "20 USERS", "10 PAGES", "20 GB STORAGE", "100 EMAILS")
			+pricing("$70", "50 USERS", "30 PAGES", "50 GB STORAGE", "150 EMAILS")
			+pricing("$50", "20 USERS", "10 PAGES", "20 GB STORAGE", "100 EMAILS")
			+pricing("$70", "50 USERS", "30 PAGES", "50 GB STORAGE", "150 EMAILS")
