//- SERVICES
section#services
	.container
		.row
			.col-sm-6
				+jpg("p15")
			.col-sm-6
				+titsection("Services We Provide")
				p= plorem
				ul.media-list
					+serviceslist("online-store15", "PSD TEMPLATE DESIGN")
					+serviceslist("mug16", "GRAPHICS DESIGN")
					+serviceslist("photography88", "PHOTOGRAPHY")
