//- TEAM
section#team
	.container
		+titsection("Meet The Team")
		.row
			+rowteam1("member7", "NETHANEL GILROY", "Founder & CEO")
			+rowteam1("member8", "NAREK ROUBEN", "Marketing Director")
		.row
			+rowteam2("member9", "SAMANTHA MILNER", "Creative Director")
			+rowteam2("member10", "LOUISE ALASTRIONA", "Ui/UX Specialist")
